//
// To better understand how to edit windows resource script(.rc) by hand, see
// http://msdn.microsoft.com/library/default.asp?url=/library/en-us/tools/tools/about_resource_files.asp
//

#ifndef RC_INVOKED

#else
#include <windows.h>
#include "include/version.h" // version defintion for simcube

// note that the icon used by the Explorer (i.e. the programs icon) is the
// first icon is the executable adn the icon are sorted both by their order
// (Win9x) and by alphabetically (!) (NT). so put this icon first and give it
// a name starting with "a"
aaaaaaaa ICON "updater.ico"

// this icon is used with wxFrame::SetIcon()
Updater ICON "updater.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_MAJOR,VER_MINOR,VER_RELEASE,VER_BUILD
PRODUCTVERSION  VER_MAJOR,VER_MINOR,VER_RELEASE,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
FILEFLAGS       (VS_FF_PRERELEASE|VS_FF_DEBUG)
#else
FILEFLAGS       VS_FF_PRERELEASE
#endif
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "Delta Electronics, Inc.\0"
            VALUE "FileDescription",  "Enhanced RELTA platform updater\0"
            VALUE "FileVersion",      VER_MAJOR_STRING "." VER_MINOR_STRING "." VER_RELEASE_STRING "." VER_BUILD_STRING "\0"
            VALUE "InternalName",     "Updater\0"
            VALUE "LegalCopyright",   "Copyright 2010 (c) Delta Electronics, Inc.\0"
            //VALUE "LegalTrademarks",  "\0"
            VALUE "OriginalFilename", "updater.exe\0"
            VALUE "ProductName",      "Enhanced Updater\0"
            VALUE "ProductVersion",   VER_MAJOR_STRING "." VER_MINOR_STRING "." VER_RELEASE_STRING ".0\0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        /* The following line should only be modified for localized versions.     */
        /* It consists of any number of WORD,WORD pairs, with each pair           */
        /* describing a language,codepage combination supported by the file.      */
        /*                                                                        */
        /* For example, a file might have values "0x409,1252" indicating that it  */
        /* supports English language (0x409) in the Windows ANSI codepage (1252). */
        VALUE "Translation", 0x409, 1252
    END
END

// set this to 1 if you don't want to use manifest resource (manifest resource
// is needed to enable visual styles on Window XP - see wx docs/msw/winxp.txt
// for more information)
#define wxUSE_NO_MINIFEST 0

// this is not always needed but doesn't hurt (except making the executable
// very slightly larger): this file contains the standard icons, cursors...
#include "wx/msw/wx.rc"
#endif
