//
// To better understand how to edit windows resource script(.rc) by hand, see
// http://msdn.microsoft.com/library/default.asp?url=/library/en-us/tools/tools/about_resource_files.asp
//

#ifndef RC_INVOKED

#else
#include <windows.h>
// note that the icon used by the Explorer (i.e. the programs icon) is the
// first icon is the executable adn the icon are sorted both by their order
// (Win9x) and by alphabetically (!) (NT). so put this icon first and give it
// a name starting with "a"
aaaaaaaa ICON "SimCube.ico"

// this icon is used with wxFrame::SetIcon()
SimCube ICON "SimCube.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     0,10,2,167
PRODUCTVERSION  0,10,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
FILEFLAGS       (VS_FF_PRERELEASE|VS_FF_DEBUG)
#else
FILEFLAGS       VS_FF_PRERELEASE
#endif
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "Delta Electronics, Inc.\0"
            VALUE "FileDescription",  "Simulate VideoWall Cube Network Behavior\0"
            VALUE "FileVersion",      "0.10.2.167\0"
            VALUE "InternalName",     "SimCube\0"
            VALUE "LegalCopyright",   "Copyright 2009 Yu-Hui, Yang\0"
            //VALUE "LegalTrademarks",  "\0"
            VALUE "OriginalFilename", "SimCube.exe\0"
            VALUE "ProductName",      "Cube Simulator\0"
            VALUE "ProductVersion",   "0.10.0.0\0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        /* The following line should only be modified for localized versions.     */
        /* It consists of any number of WORD,WORD pairs, with each pair           */
        /* describing a language,codepage combination supported by the file.      */
        /*                                                                        */
        /* For example, a file might have values "0x409,1252" indicating that it  */
        /* supports English language (0x409) in the Windows ANSI codepage (1252). */
        VALUE "Translation", 0x409, 1252
    END
END

// set this to 1 if you don't want to use manifest resource (manifest resource
// is needed to enable visual styles on Window XP - see wx docs/msw/winxp.txt
// for more information)
#define wxUSE_NO_MINIFEST 0

// this is not always needed but doesn't hurt (except making the executable
// very slightly larger): this file contains the standard icons, cursors...
#include "wx/msw/wx.rc"
#endif
